# Dependencies
node_modules

# Build outputs
dist
.next
out

# Turbo
.turbo

# Environment variables
.env
.env.*
!.env.example
**/.env
**/.env.*

# IDE
.vscode
.idea
*.swp
*.swo
.kiro
# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage
